@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');

body {
  margin: 5%;
}

aside {
  display: inline-block;
  border: 1px solid #63cef2;
}

/*Individual shirt boxes*/

div.nav {
  display: inline;
  padding: 0;
}

div.nav2 {
  display: inline;
  padding: 0;
}

div.nav3 {
  display: inline;
  padding: 0;
}

.nav li {
  display: inline-block;
  text-align: center;
}

.nav2 li {
  display: inline-block;
  text-align: center;
}

.nav3 li {
  display: inline-block;
  text-align: center;
}

/*Icon Boxes hover properties*/

.box {
  border: 1px solid #63cef2;
  display: inline-block;
}

.box:hover{
  background: #2968ce;
  border-radius: 50%;

}

div .box2:hover {
  background: #2968ce;
  border-radius: 50%;
}

div .box3:hover {
  background: #2968ce;
  border-radius: 50%;
}

.box4:hover {
  background: #2968ce;
  border-radius: 50%;
}

.box5:hover {
  background: #2968ce;
  border-radius: 50%;
}

/* Just the icon boxes */

.box2 {
  border: 1px solid #63cef2;
  display: inline-block;
}

.box3 {
  border: 1px solid #63cef2;
  display: inline-block;
}

.box4 {
  border: 1px solid #63cef2;
  display: inline-block;
}

.box5 {
  border: 1px solid #63cef2;
  display: inline-block;
}

.p {
  display: inline;
}
