@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');

body {
  margin: 5%;
}

aside {
  display: inline-block;
  border: 1px solid #63cef2;
}

/*Individual shirt boxes*/

div ul {
  padding: 0;
  list-style: none;
}

div ul li {
  display: inline-block;
  position: relative;
  line-height: 21px;
  text-align: left;
}

div.nav {
  display: inline;
  padding: 0;
}

div.nav2 {
  display: inline;
  padding: 0;
}

div.nav3 {
  display: inline;
  padding: 0;
}

.nav li {
  display: inline-block;
  text-align: center;
}

.nav2 li {
  display: inline-block;
  text-align: center;
}

.nav3 li {
  display: inline-block;
  text-align: center;
}

/*Icon Boxes hover properties*/

.box {
  border: 1px solid #63cef2;
  display: inline-block;
}

.box:hover{
  background: #2968ce;
  border-radius: 50%;
  display: block;
}

div .box2:hover {
  background: #2968ce;
  border-radius: 50%;
}

div .box3:hover {
  background: #2968ce;
  border-radius: 50%;
}

div .box4:hover {
  background: #2968ce;
  border-radius: 50%;
}

div .box5:hover {
  background: #2968ce;
  border-radius: 50%;
}

/* Just the icon boxes */

.box2 {
  border: 1px solid #63cef2;
  display: inline-block;
}

.box3 {
  border: 1px solid #63cef2;
  display: inline-block;
}

.box4 {
  border: 1px solid #63cef2;
  display: inline-block;
}

.box5 {
  border: 1px solid #63cef2;
  display: inline-block;
}

div.box {
  display: inline-block;
}

/*Underlying Text*/
/*
.p {
  display: inline;
}

div.p .first {
  float: left;
}

div.p .second {

}

div.p .third {
  float: right;
}*/
